/Squad
/MechJeb2/Plugins/PluginData

/Romfarer/PluginData/Romfarer/config.cfg
/TriggerTech/PluginData/KerbalAlarmClock/Alarms-23 kerbals on a planet, one fell off (CAREER).txt
config.xml
/Kethane/settings.cfg
/toolbar-settings.dat
/ThunderAerospace/TacFuelBalancer/PluginData/TacFuelBalancer/*.cfg
/TriggerTech/PluginData/KerbalAlarmClock/*.txt
