<?xml version="1.0" encoding="utf-8"?>
<config>
    <bool name="reinforceAttachNodes">1</bool>
    <bool name="reinforceDecouplersFurther">1</bool>
    <bool name="reinforceLaunchClampsFurther">1</bool>
    <bool name="debug">0</bool>

    <float name="linSpring">500</float>
    <float name="linLim">0.05</float>
    <float name="linDamp">5</float>
    <float name="linBounce">0</float>

    <float name="angSpring">0</float>
    <float name="angLim">0</float>
    <float name="angDamp">0</float>
    <float name="angBounce">0</float>

    <float name="linearDriveSpring">50000</float>
    <float name="linearDriveDamper">20</float>
    <float name="linearMaxForceFactor">1</float>

    <float name="angularDriveSpring">100000</float>
    <float name="angularDriveDamper">600</float>
    <float name="angularMaxForceFactor">1</float>

    <float name="breakForceMultiplier">1</float>
    <float name="breakTorqueMultiplier">1</float>
    <float name="breakStrengthPerArea">40</float>

    <float name="massForAdjustment">0.01</float>

    <string name="exemptPartType0">MuMechToggle</string>
    <string name="exemptPartType1">MuMechServo</string>

    <string name="exemptModuleType0">WingManipulator</string>
    <string name="exemptModuleType1">SingleGroupMan</string>
    <string name="exemptModuleType2">KerbalEVA</string>

    <string name="decouplerStiffeningExtensionType0">ModuleEngines</string>
    <string name="decouplerStiffeningExtensionType1">ModuleHybridEngine</string>
    <string name="decouplerStiffeningExtensionType2">ModuleHybridEngines</string>
    <string name="decouplerStiffeningExtensionType3">ModuleEngineConfigs</string>
    <string name="decouplerStiffeningExtensionType4">ModuleDecouple</string>
    <string name="decouplerStiffeningExtensionType5">ModuleAnchoredDecoupler</string>
    <string name="decouplerStiffeningExtensionType6">ProceduralFairingBase</string>
</config>