<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="ManifestPosition">
        <xmin>36</xmin>
        <xmax>355</xmax>
        <ymin>268</ymin>
        <ymax>770</ymax>
    </rect>
    <rect name="TransferPosition">
        <xmin>331</xmin>
        <xmax>953</xmax>
        <ymin>39</ymin>
        <ymax>541</ymax>
    </rect>
    <rect name="RosterPosition">
        <xmin>329</xmin>
        <xmax>645</xmax>
        <ymin>39</ymin>
        <ymax>139</ymax>
    </rect>
    <rect name="SettingsPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="DebuggerPosition">
        <xmin>4</xmin>
        <xmax>323</xmax>
        <ymin>39</ymin>
        <ymax>239</ymax>
    </rect>
    <bool name="ShowDebugger">0</bool>
</config>